body{
    background-color: rgb(43, 44, 44);

}
.logos{
    width: 250px;
}
#main{
    font-size: 1rem;
    height: 100vh;
    display: flex;
}
#main .left-content{
    width: 50%;
}
#main .left-content h1{
    color: white;
    text-align: center;
    padding-top: 10px;
}
#main .right-content{
    width: 50%;
}
#main .right-content h1{
    color: white;
    text-align: center;
    padding-top: 10px;
}
 .card1{
    padding: 10px;

}
 .card2{
    padding: 10px;
}
#main .card1{
    background-color:rgb(87, 85, 85);
    display: flex;
    margin: 20px;

}
#main .card1 img{
    height: 250px;
    width: 250px;
}
#main .card2{
    background-color:rgb(87, 85, 85);
    display: flex;
    margin: 20px;

}
#main .card2 img{
    height: 250px;
    width: 250px;
}