.logo{
    width: 80px;
}


#main{
    font-size: 1rem;
    background-color: red;
    height: 100vh;
    display: flex;
}


#main .left-content{
    width: 50%;
}

#main .right-content{
    width: 50%;
}

#main .card{
    display: flex;
    background-color: #363840;
}

.total-rating{
    color: aqua;
}



/* Table CSS starts here */
table td{
    width: 33.33%;
}

.flex-example{
    display: flex;
    border: 2px solid aqua;
}

.flex-example div{
    flex: 1;
}

.flex-example div.col:last-child{
    text-align: right;
}

.flex-example div.col:nth-child(2){
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Table CSS ends here */

/* Layout CSS starts here */
.card{
    background-color: aqua;
    border: 2px solid teal;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .img{
    background-color: tomato;
    border: 1px solid violet;
    height: 100px;
    width: 100px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .description{
    margin: 4px;
    text-align: justify;
    flex: 1;
}

.three-col{
    display: flex;
}

.card.row{
    flex-direction: row;
}

.description:hover{
    background-color: darkblue;
    
}
/* Layout CSS end here */

.tab{
    display: flex;
}

.tab .tab-item{
    background-color: darkgray;
    padding: 20px;
   
    text-align: center;
}
.tab .tab-item:first-child{
    border-top-left-radius: 20px;
}

.tab .tab-item:last-child{
    margin-left: 2px;
    border-top-right-radius: 20px;
}

.tab-item .menu{
    display: flex;
    justify-content: space-evenly;
}


.tab-item .menu div{
    background-color: darkgreen;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
}